{% extends "base-alt.html" %}
{% load static %}
{% block content %}
<!-- Content section Start -->
<section class="section-padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 col-xs-12">
                <a href="{% url 'home' %}" class=""><img src="{% static 'images/site-logo.png' %}"
                        style="margin: 0 auto; display: block;" width='300' alt=""></a>
                <h3 class="text-center">Отправлено подтверждение о сбросе пароля</h3>
                <h5 class="text-center">
                    Мы отправили вам по электронной почте инструкции по повторной установке вашего пароля
                </h5>
                <h6 class="text-center">
                    Если вы не получаете электронное письмо, пожалуйста, проверьте свою папку со спамом.
                </h6>
            </div>
        </div>
    </div>
</section>
<!-- Content section End -->
{% endblock content %}