{% extends "base-alt.html" %}
{% load static %}
{% block content %}
<body>
<!-- Content section Start -->
<section class="section-padding">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <a href="{% url 'home' %}" class=""><img src="{% static 'images/site-logo.png' %}" 
          style="margin: 0 auto; display: block;"  width='300'
          alt=""></a>
        <h3 class="text-center">Пожалуйста, проверьте свою электронную почту.</h3>
        <h5 class="text-center">
          Мы отправили вам на электронную почту сообщение со ссылкой для активации вашей учетной записи.
        </h5>
      </div>
    </div>
  </div>
</section>
<!-- Content section End -->
{% endblock content %}

