{% extends "base.html" %}
{% load static %}
{% block content %}



<!-- Page Header Start -->
<div class="page-header" style="background: url('img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title"> Размещайте свои объявления </h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">Post your Ads</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Start Content -->
<div id="content" class="section-padding">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-lg-5 col-md-12 col-xs-12">
        {% if request.user.is_authenticated %}
        <div class="row page-content">
          <form action="" class="ads-form" id="ad-post-form">

            <label> Название продукта <span class="req-aseteric">*</span></label>
            <input type="text" id="title" class="form-control ad-post-form"
              placeholder="e.g. Hunting Binoculars for Sale">
            <div class="error-msg">
              <div id="titlemsg"></div>
            </div>

            <label> Описание товара <span class="req-aseteric">*</span></label>
            <textarea rows="6" id="description" class="form-control ad-post-form"
              placeholder="Provide as much detail as possible"></textarea>
            <div class="error-msg">
              <div id="descriptionmsg"></div>
            </div>

            <label> Выберите категорию объявлений <span class="req-aseteric">*</span></label>
            <div class="select ad-post-form">
              <select id="category" name="category" class="form-control">
                <option value="Archery"> Стрельба из лука </option>
                <option value="Aviation services">Авиационные услуги</option>
                <option value="Blinds & Stands">Жалюзи и подставки</option>
                <option value="Breeder bucks & Breeding services"> Самцы-заводчики и услуги по разведению </option>
                <option value="Business for sale"> Бизнес на продажу </option>
                <option value="Camouflage & Outerwear"> Камуфляж и верхняя одежда </option>
                <option value="Exotics for sale & Exotics wanted"> Экзотика на продажу и экзотика в розыске </option>
                <option value="Feeders"> Кормушки </option>
                <option value="Fire arm accessories"> Принадлежности для огнестрельного оружия </option>
                <option value="Footwear">Обувь</option>
                <option value="Game calls">Игровые вызовы</option>
                <option value="Guide jobs, Ranch manager jobs & camp staff">Работа гидом, управляющим ранчо и персоналом лагеря
                </option>
                <option value="Gun safes">Оружейные сейфы</option>
                <option value="Hunting dogs for sale & training">Охотничьи собаки для продажи и дрессировки</option>
                <option value="Hunting land for lease & leases wanted">Охотничьи угодья сдаются в аренду и требуются арендаторы</option>
                <option value="Hunting property for sale">Охотничье имущество на продажу</option>
                <option value="Hunting vehicles & ATVs for sale">Продажа охотничьих автомобилей и квадроциклов</option>
                <option value="Merchandise">Товар</option>
                <option value="Outfitter Operations (Find a hunt)">Операции с экипировкой (поиск объекта охоты)</option>
                <option value="Property improvements & services">Благоустройство недвижимости и услуги</option>
                <option value="Traps and Trapping services">Ловушки и услуги по отлову</option>
                <option value="Waterfowl">Водоплавающие птицы</option>
                <option value="Wildlife Biology and Surveying">Биология дикой природы и геодезия</option>
                <option value="Miscellaneous">Разнообразный</option>
              </select>
            </div>
            <div class="error-msg">
              <div id="categorymsg"></div>
            </div>

            <label>Цена товара <span class="req-aseteric">*</span> <span class="h-text"> (Значение должно быть числовым. Не ставьте другие знаки.)</span></label>
            <input type="number" id="price" class="form-control ad-post-form" placeholder="e.g. 2500">
            <div class="error-msg">
              <div id="pricemsg"></div>
            </div>

            <label>Выберите состояние продукта <span class="req-aseteric">*</span></label>
            <div class="select ad-post-form">
              <select id="condition" name="condition" class="form-control">
                <option value="Отлично">Excellent</option>
                <option value="Хорошо">Good</option>
                <option value="Изношено">Fair</option>
              </select>
            </div>
            <div class="error-msg">
              <div id="conditionmsg"></div>
            </div>

            <label>Выберите свой город <span class="req-aseteric">*</span></label>
            <div class="select ad-post-form">
              <select id="state" name="state" class="form-control">

                <option value="Москва">Alabama</option>
                <option value="Санкт-Петербург">Alaska</option>
                <option value="Самара">Arizona</option>
                <option value="Уфа">Arkansas</option>
                <option value="Казань">California</option>
                <option value="Оренбург">Colorado</option>
                <!--<option value="Connecticut">Connecticut</option>
                <option value="Delaware">Delaware</option>
                <option value="District Of Columbia">District Of Columbia</option>
                <option value="Florida">Florida</option>
                <option value="Georgia">Georgia</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Idaho">Idaho</option>
                <option value="Illinois">Illinois</option>
                <option value="Indiana">Indiana</option>
                <option value="Iowa">Iowa</option>
                <option value="Kansas">Kansas</option>
                <option value="Kentucky">Kentucky</option>
                <option value="Louisiana">Louisiana</option>
                <option value="Maine">Maine</option>
                <option value="Maryland">Maryland</option>
                <option value="Massachusetts">Massachusetts</option>
                <option value="Michigan">Michigan</option>
                <option value="Minnesota">Minnesota</option>
                <option value="Mississippi">Mississippi</option>
                <option value="Missouri">Missouri</option>
                <option value="Montana">Montana</option>
                <option value="Nebraska">Nebraska</option>
                <option value="Nevada">Nevada</option>
                <option value="New Hampshire">New Hampshire</option>
                <option value="New Jersey">New Jersey</option>
                <option value="New Mexico">New Mexico</option>
                <option value="New York">New York</option>
                <option value="North Carolina">North Carolina</option>
                <option value="North Dakota">North Dakota</option>
                <option value="Ohio">Ohio</option>
                <option value="Oklahoma">Oklahoma</option>
                <option value="Oregon">Oregon</option>
                <option value="Pennsylvania">Pennsylvania</option>
                <option value="Rhode Island">Rhode Island</option>
                <option value="South Carolina">South Carolina</option>
                <option value="South Dakota">South Dakota</option>
                <option value="Tennessee">Tennessee</option>
                <option value="Texas">Texas</option>
                <option value="Utah">Utah</option>
                <option value="Vermont">Vermont</option>
                <option value="Virginia">Virginia</option>
                <option value="Washington">Washington</option>
                <option value="West Virginia">West Virginia</option>
                <option value="Wisconsin">Wisconsin</option>
                <option value="Wyoming">Wyoming</option>-->
              </select>
            </div>
            <div class="error-msg">
              <div id="statemsg"></div>
            </div>

            <label>Ваш город <span class="req-aseteric">*</span></label>
            <input type="text" id="city" class="form-control ad-post-form" placeholder="например, Самара">
            <div class="error-msg">
              <div id="citymsg"></div>
            </div>

            <label> Производитель <span class="h-text">(Оставьте пустым, если это не важно)</span></label>
            <input type="text" id="brand" class="form-control ad-post-form" placeholder="e.g. Bushnell">
            <div class="error-msg">
              <div id="brandmsg"></div>
            </div>

            

            <label> Вашего телефона нет. <span class="req-aseteric">*</span></label>
            <input type="text" id="phone" class="form-control ad-post-form" placeholder="Укажите свой контактный номер.">
            <div class="error-msg">
              <div id="phonemsg"></div>
            </div>

            <label>Опубликовать URL-адрес видео<span class="h-text"> (Не размещайте ссылку для видео, если его нет. Оставьте поле пустым)</span></label>
            <input type="url" id="video" class="form-control ad-post-form"
              placeholder="e.g. https://www.youtube.com/watch?v=ooHvPr4Bk4I">
            <label>Опубликовать изображение продукта <span class="h-text"> (Не более 5 изображений. Размер файла должен быть не более 3 МБ.
                Разрешенный тип файла - jpeg, jpg и png.) </span></label>

            <input type="file" multiple>

            <button type="button" id="saveBtn" class="btn btn-common log-btn">Разместить объявление</button>
          </form>
        </div>

        <div class="success-msg">
          <div id="formsuccessmsg" class="text-center"></div>
        </div>

        <div class="error-msg">
          <div id="formerrmsg" class="text-center"></div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var files = []
    FilePond.registerPlugin(FilePondPluginFileValidateSize);
    FilePond.registerPlugin(FilePondPluginFileValidateType);
    FilePond.setOptions({
      allowMultiple: true,
      maxFiles: 5,
      maxFileSize: '3MB'
    })
    const inputElement = document.querySelector('input[type="file"]');
    const pond = FilePond.create(inputElement, {
      acceptedFileTypes: ['image/png', 'image/jpeg'],
      onaddfile: (err, fileItem) => {
        if (!err) {
          files.push(fileItem.file)
        }
        console.log(files)
      },
      onremovefile: (err, fileItem) => {
        const index = files.indexOf(fileItem.file)
        if (index > -1) {
          files.splice(index, 1)
        }
        console.log(files)
      }
    });

    var formData = new FormData();
    $(document).on('click', '#saveBtn', function (e) {

      if ($('#title').val() === "") {
        $("#titlemsg").html("<div class='alert alert-danger'>Заголовок не может быть пустым</div>");
      }

      if ($('#description').val() === "") {
        $("#descriptionmsg").html("<div class='alert alert-danger'>Описание не может быть пустым</div>");
      }

      if ($('#category').val() === "") {
        $("#categorymsg").html("<div class='alert alert-danger'>Категория не может быть пустой</div>");
      }

      if ($('#price').val() === "") {
        $("#pricemsg").html("<div class='alert alert-danger'>Цена не может быть пустой и должна быть числовой</div>");
      }

      if ($('#condition').val() === "") {
        $("#conditionmsg").html("<div class='alert alert-danger'>Условие не может быть пустым</div>");
      }

      if ($('#state').val() === "") {
        $("#statemsg").html("<div class='alert alert-danger'>Состояние не может быть пустым</div>");
      }

      if ($('#city').val() === "") {
        $("#citymsg").html("<div class='alert alert-danger'>Город не может быть пустым</div>");
      }

      if ($('#phone').val() === "") {
        $("#phonemsg").html("<div class='alert alert-danger'>Вы должны указать номер телефона.</div>");
      }


      formData.append('length', files.length)
      formData.append('title', $('#title').val())
      formData.append('description', $('#description').val())
      formData.append('category', $('#category').val())
      formData.append('price', $('#price').val())
      formData.append('condition', $('#condition').val())
      formData.append('state', $('#state').val())
      formData.append('city', $('#city').val())
      formData.append('brand', $('#brand').val())
      formData.append('phone', $('#phone').val())
      formData.append('video', $('#video').val())
      for (var i = 0; i < files.length; i++) {
        formData.append('images' + i, files[i])
      }


      formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')

      $.ajax({
        type: 'POST',
        url: '{% url "post-ads" %}',
        data: formData,
        cache: false,
        processData: false,
        contentType: false,
        enctype: 'multipart/form-data',
        success: function () {
          $("#formsuccessmsg").html(
            "<div class='alert alert-success'>Объявление успешно размещено и ожидает одобрения администратора.</div>"
          );
          // alert('The Ads has been posted successfully!')
          $('#ad-post-form').each(function () {
            this.reset(); //Here form fields will be cleared.
          });
          
        },
        error: function (xhr, errmsg, err) {
          $("#formerrmsg").html(
            "<div class='alert alert-danger'>У вас одна или несколько ошибок. Пожалуйста, заполните все поля, необходимые для размещения объявления.</div>"
          );
          // console.log(xhr.status + ":" + xhr.responseText)
          // alert('Failed to post. Make sure you fill all the fields')


        }
      })
    })
    console.log(formData)
  })
</script>
{% endblock content %}