{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header" style="background: url( 'img/banner1.jpg');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
          <h2 class="product-title">Частые вопросы</h2>
          <!-- <ol class="breadcrumb">
            <li><a href="#">Home /</a></li>
            <li class="current">FAQ</li>
          </ol> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- FAQ Start -->
<div class="faq section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="head-faq text-center">
          <h2 class="section-title">Часто задаваемые вопросы</h2>
        </div>
        <!-- accordion start -->
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Как мне разместить объявление?
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse show">
              <div class="panel-body">
                <p>Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
                <br>
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  К кому мне следует обратиться, если у меня возникнут какие-либо вопросы?
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
                <br>
                <p> Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Как я могу отменить или изменить свой заказ?
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.

                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Как я могу Вернуть Товар?
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
                <br>
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                    Сколько времени потребуется, чтобы получить мою посылку?
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                   Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                 Какие способы доставки доступны?
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
                <br>
                <p>
                  Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                    Благодарим вас за проявленный интерес к нашей компании и добро пожаловать в нашу компанию.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- accordion End -->
      </div>
    </div>
  </div>
</div>
<!-- End Content -->

{% endblock content %}